
body{
    background-color:#eeeeee ;
    font-family: 'Montserrat', sans-serif;
}
nav .nav-link{
    color: #4b4b4b !important;
    width: 275px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
nav{
    width: max-content;
    margin: auto;
    
}
h1{
    font-weight: 800;
    font-size:55px ;
    
}
h2{
    font-size: 22px;
    font-weight: 600;
    line-height:40px;
}

.nav-link:hover{
    text-decoration: underline;
    color:#007bff !important;
    
}
.active{
    text-decoration: underline;
    font-weight: 600 !important;
   
}
/*/////////////////////////CONTACTO///////////////////*/

#contacto input , #contacto textarea{
    background-color: #eee;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;


}
#contacto input:hover , #contacto textarea:hover{
    background-color: white;
    
}
#contacto textarea{
    max-height:200px;
    min-height: 180px;
    
}

#contacto .btn{
    background-color: black;
    color: white;
}


/*/////////////////////////FOOTER///////////////////*/
footer {
    background-color: white;
    height:100%;
}
footer a{
    color: black !important;
    font-weight: 800;
}

footer .redes{
    width: 58px;
    height: 55px;
    font-size: 35px;
    padding: 8px 0px;
    font-weight: bold !important;
    text-align: center;
    border: 1px solid;
    border-radius: 80px;
    
}
footer a:hover{
    color:#007bff !important;
}

/*/////////////////////////MIS PROYECTOS///////////////////*/
.proyecto .bg-black{
    padding:0px 8px;
    
}

.proyecto h3{
    font-size:25px;
    padding:15px;
}
.proyecto h4{
    font-size: 18px;
    padding:15px;
    font-weight: 300;
}

.proyecto .btn{
    background:black;
    color: white;
    border-radius: 0px;
}

/*/////////////////////////SOBRE MÍ//////////////////*/
.sobremi h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}
.sobremi p{
    line-height: 27px;
    font-size: 17px;
    color:#949393;
}
.sobremi .bg-white{
    background-color: white;
    height: 100% !important;
}
.sobremi .bg-white div{
    margin-top:10px;
    margin-left: 5px;
}
.sobremi .perfil{
    width: auto;
    padding: 10px;
    border-radius: 50%;
    border: 5px outset #eeeeee;
    height: 350px;
}

.sobremi i{
    color: white;
    background: black;
    font-size:32px !important;
    padding:20px;
    

}
.sobremi .btn{
    color:white;
    background-color: black;
    border-radius: 0px;
}
/*/////////////////////////EXPERIENCIA///////////////////*/
.experiencia{
    background-color:#3a3a3a;
    color: white;
    margin:20px 0px;
}
.experiencia  h2{
    
    color: white;
    font-size: 45px;

}

.experiencia  h3{
    font-size: 16px !important ;
    padding:0px 10px;
    line-height: 27px;

}
.experiencia h4{
    font-size: 18px !important;
    line-height: 27px;
    font-weight: normal;
}
.experiencia img {
    width: 120px;
    height: 70px;
}
.experiencia i{
    color: yellow;
    padding: 18px 25px;
    font-size: 27px;
    border: 2px solid;
    border-radius: 50%;
}
/*/////////////////////////INICIO///////////////////*/

#home{
    background-image: url(../imagenes/Fondos-01.png);
    background-repeat: repeat;
    background-size: 100%;
    height: 82vh;
}

.inicio a{
    background: black;
    color: white;
    padding: 10px 20px;
}

/*/////////////////////////REENVIO///////////////////*/
#reenvio{
    height: 76vh;
}
#reenvio h1{
    font-size: 55px;
    font-weight: 800;
}
#reenvio p{
    font-size: 28px;
    font-weight: 200;
}
@media (max-width:700px){
    /*/////NAVEGADOR/////*/
    .nav-link{
        font-size:16px;
    }

    /*/////INICIO/////*/
    .inicio h1{
        font-size: 50px;
    }
    .inicio h2{
        font-size:20px;
    }
    /*/////SOBRE MI/////*/
    .sobremi .perfil{
        width: 180px;
        height: 250px; 
    }
    .sobremi  div{
        margin:5px 0px;
        padding:0px 5px;
    }
    
    .experiencia h2{
        font-size: 40px !important;
        font-weight: 500;
    }
    .experiencia h3{
        font-size: 18px !important;
        padding: 12px 10px;
        line-height: 23px;
    }
    .experiencia h4{
        font-size: 16px !important;
        line-height: 27px;
        padding: 15px 0px;
    }
    
    /*/////MIS PROYECTOS/////*/
    .proyecto h1{
        font-size: 46px;
        font-weight: 700;
    }
    .proyecto h2{
        font-size: 15px;
    }
    .proyecto .p1{
        font-size: 22px;
    }
    .proyecto .p2 , .proyecto .p3{
        font-size: 16px;
        font-weight:300;
    }

    .proyecto button{
        font-size: 12px;
        width: 126px;
        height: 39px;
    }
    /*/////CONTACTO/////*/
    #contacto h1{
        font-size:40px;
    }
    #contacto h2{
        font-size:20px;
    }
    form {
        padding-left: 50px;
    }
   
    /*/////FOOTER/////*/
    footer .redes{
        width: 47px;
        height: 46px;
        font-size: 28px;
    }
     /*/////REENVIO/////*/
    #reenvio h1{
        font-size: 40px;  
    }
    #reenvio p{
        font-size: 26px;   
    }
   
}